<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Segment buttons: only one button can be active at a time 
  Set ion-segment value for the default checked button -->
  <ion-segment value="all" (ionChange)="onFilterUpdate($event.detail.value)">
    <ion-segment-button value="all">All Places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid
    *ngIf="!isLoading && (!relevantPlaces || relevantPlaces.length <= 0)"
  >
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <p>There are no bookable places right now, please come back later!</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading && (relevantPlaces && relevantPlaces.length > 0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ relevantPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle
              >{{ relevantPlaces[0].price | currency }} /
              Night</ion-card-subtitle
            >
          </ion-card-header>
          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ relevantPlaces[0].description }}</p>
          </ion-card-content>
          <!-- Set routerDirection for ionic animation -->
          <div class="ion-text-right">
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="['/', 'places', 'tabs', 'discover', relevantPlaces[0].id]"
              >More</ion-button
            >
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <!-- Can't use ngFor with ion-virtual-scroll since it would render all items. 
        Add [items] property passing the array to be rendered which shall be then 
        rendered efficiently by virtual scroll. Add *virtualItem provided my ionic-angular
        to use/refer the array element -->
        <!-- Calling array methods dynamically on array passed to [items] may cause virtual 
          scrolling issues, pass just an array  -->
        <!-- Pass approx item height for virtual scroll to know/estimate, for long lists ONLY where 
        the array length cannot be predicted -->
        <ion-virtual-scroll
          [items]="listedLoadedPlaces"
          approxItemHeight="70px"
        >
          <!-- *ngFor="let place of loadedPlaces.slice(1)" -->
          <!-- Add detail on ion-item for the forward arrow -->
          <ion-item
            [routerLink]="['/', 'places', 'tabs', 'discover', place.id]"
            detail
            *virtualItem="let place"
          >
            <ion-thumbnail slot="start">
              <!-- ion-img is recommended because it would load images lazily, and not in advance.
              So the page would download faster -->
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{place.title}}</h2>
              <p>{{place.description}}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col>
      <ion-button fill="clear" color="primary" (click)="onLocateUser()"
        >Locate Me (check dev console)!</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
